# Environment
.env

# Database dump
*.sql

# Backup
*.zip
*.rar
*.7z

# Uploads
public/uploads/**

# Keep folder structure
!public/uploads/**/
!public/uploads/**/.gitkeep

# IDE
.vscode/
.idea/

public/cek.php
tesss-index.php